{% extends 'base.html' %}

{% block title %}Dashboard{% endblock title %}

{% block content %}
<h1 class="my-5">Dashboard</h1>
{% if messages %}
    {% for message in messages %}
        <p class="{{message.tags}}">{{message}}</p>
    {% endfor %}
{% endif %}
<div class="d-flex flex-row justify-content-evenly align-items-start">
    <div class="d-flex flex-column urinfo">
        <div class="border info mb-3" style="width: 100%;">
            <ul>
                <li>
                    <div>
                        <h1 class="d-flex align-items-center">Your Info</h1>
                    </div>
                </li>
                <li>
                    <div class="text-muted">
                        <p class="d-flex align-items-center">
                            <span class="mx-2">First name:</span>
                            <span class="text-dark mx-2">{{user.first_name}}</span>
                        </p>
                    </div>
                </li>
                <li>
                    <div class="text-muted">
                        <p class="d-flex align-items-center">
                            <span class="mx-2">Last name:</span>
                            <span class="text-dark mx-2">{{user.last_name}}</span>
                        </p>
                    </div>
                </li>
                <li>
                    <div class="text-muted">
                        <p class="d-flex align-items-center">
                            <span class="mx-2">Email:</span>
                            <span class="text-dark mx-2">{{user.email}}</span>
                        </p>
                    </div>
                </li>
                <li>
                    <div class="text-muted mb-2">
                        <a href="{% url 'account:edit_info' %}" class="btn btn-warning" style="width: 100%;">Edit your info</a>
                    </div>
                </li>
                <li>
                    <div class="text-muted mb-2">
                        <a href="{% url 'account:change_password' %}" class="btn btn-primary" style="width: 100%;">Change your password</a>
                    </div>
                </li>
                <li>
                    <div class="text-muted mb-2">
                        <a href="#" class="btn btn-danger" style="width: 100%;">Delete your account</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- cards -->
    <div class="cards d-flex flex-column align-items-start mx-3">
        <div>
            <a href="{% url 'building:add_new_building' %}">
                <div class="add-new text-light fs-5">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                    </svg>
                    <span class="mx-1">Add new buiding</span>
                </div>
            </a>
        </div>
        <div style="width: 100%;">
            {% if the_buildings %}
            <div class="cards_dashboard mt-3 align-items-start">
                {% for building in the_buildings %}
                    <div class="hc-card d-flex flex-column justify-content-start mb-3" style="width: 30%;margin-right: 15px;">
                      <div class="hcc-content">
                        <img src="{{building.picture.url}}" alt="building.title" class="hcc-img">
                        <span class="hcc-price" style="padding-top: 5px;padding-bottom: 5px;">{{building.price}} $</span>
                      </div>
                      <div class="m-1">
                        <h3 class="m-2 fs-4">{{building.title}}</h3>
                        <div class="d-flex flex-row mt-3">
                          <p class="text-muted px-2 d-flex flex-row align-items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                              class="bi bi-truck-flatbed" viewBox="0 0 16 16">
                              <path
                                d="M11.5 4a.5.5 0 0 1 .5.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-4 0 1 1 0 0 1-1-1v-1h11V4.5a.5.5 0 0 1 .5-.5zM3 11a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm1.732 0h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4a2 2 0 0 1 1.732 1z" />
                            </svg> <span class="px-2">{{building.rooms}}</span> |
                          </p>
                          <p class="text-muted px-2 d-flex flex-row align-items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                              class="bi bi-textarea" viewBox="0 0 16 16">
                              <path
                                d="M1.5 2.5A1.5 1.5 0 0 1 3 1h10a1.5 1.5 0 0 1 1.5 1.5v3.563a2 2 0 0 1 0 3.874V13.5A1.5 1.5 0 0 1 13 15H3a1.5 1.5 0 0 1-1.5-1.5V9.937a2 2 0 0 1 0-3.874V2.5zm1 3.563a2 2 0 0 1 0 3.874V13.5a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V9.937a2 2 0 0 1 0-3.874V2.5A.5.5 0 0 0 13 2H3a.5.5 0 0 0-.5.5v3.563zM2 7a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm12 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                            </svg> <span class="px-2"> {{building.area}}M </span> |
                          </p>
                          <p class="text-muted px-2 d-flex flex-row align-items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                              class="bi bi-geo-alt" viewBox="0 0 16 16">
                              <path
                                d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z" />
                              <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />a
                            </svg> <span class="px-2">{{building.address.city}}</span>
                          </p>
        
                        </div>
                        <a  href="{% url 'building:detail' building.pk %}" class="btn btn-primary m-2">
                          see details
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-caret-right" viewBox="0 0 16 16">
                            <path
                              d="M6 12.796V3.204L11.481 8 6 12.796zm.659.753 5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753z" />
                          </svg>
                        </a>
                      </div>
                    </div>
                    {% endfor %}
                </div>
                {% else %}
                    <div class="d-flex justify-content-center align-items-center text-muted flex-column no-item text-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                        </svg>
                        <p class="fs-1">No Items added :(</p>
                    </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}