{% extends 'form_base.html' %}

{% block title %}Login{% endblock title %}

{% block form_title %}Login{% endblock form_title %}

{% block form %}
{% if messages %}
    {% for message in messages %}
        <p class="{{message.tags}}">{{message}}</p>
    {% endfor %}
{% endif %}
<form class="form-control p-3" method='POST'>
    {% csrf_token %}
    {{form}}
    <p class="my-2">You don't have an account? <a href='{% url 'account:register' %}'>click here</a> to sign up</a>
    <button class="form-control btn btn-success">Log in</button>
</form>
{% endblock form %}