{% extends 'form_base.html' %}

{% block title %}Real Estate Register{% endblock title %}

{% block form_title %}Real Estate Register{% endblock form_title %}

{% block form %}
{% if messages %}
    {% for message in messages %}
        <p class='{{message.tags}}'>{{message}}</p>
    {% endfor %}
{% endif %}
<form class="form-control p-3" method="post", enctype="multipart/form-data">
    {% csrf_token %}
    {{user_form}}
    {{re_form}}
    <button class="form-control btn btn-success">Sign up</button>
</form>
{% endblock form %}